In [2]:
import pandas as pd
import numpy as np

In [3]:
FILE_PATH = '/Users/nicolas13/Lessons_Netology/Lesson4_1/names/'

In [4]:
def create_names(year, FILE_PATH):
    path = FILE_PATH + 'yob' + str(year) +'.txt'
    names = pd.read_csv(
    path,
    names = ['Name', 'Gender', 'Count']
)
    return names

def agg_count(row):
    row.Count = row.Count_x + row.Count_y + row.Count
    return row

def count_top3(years):
    for index, year in enumerate(years):
        if index == 0:
            names_all = create_names(year, FILE_PATH)
        else:
            names_all = pd.concat([names_all, create_names(year, FILE_PATH)])
#             names_all = pd.merge(names_all, create_names(year, FILE_PATH), on=['Name', 'Gender'])
    return list(names_all.groupby('Name', as_index=False).agg({"Count": "sum"}).sort_values(by='Count', ascending=False).head(10).Name.values)[:3]
#     return list(
#         names_all.apply(agg_count, axis=1).sort_values(by='Count', ascending=False).head(10).Name.values)[:len(years)]

def count_dynamics(years):
    for index, year in enumerate(years):
        if index == 0:
            names_all = create_names(year, FILE_PATH)
        else:
            names_all = pd.merge(names_all, create_names(year, FILE_PATH), on=['Name','Gender'])
    return names_all.groupby(['Gender']).sum()

count_dynamics([1900, 1950, 2000])

        Count_x  Count_y    Count
Gender
F        279397  1389147   670233
M        146387  1674575  1262400

In [148]:
keys_s = ['F', 'M']
values_s = [[1111, 2222, 3333],[4444,5555,6666]]
dict_s = {keys_s[0]: values_s[0], keys_s[1]: values_s[1]}
print(dict_s)

{'F': [1111, 2222, 3333], 'M': [4444, 5555, 6666]}