In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.Series([1,1,2,3,5,8,13.0,'asd'])

0      1
1      1
2      2
3      3
4      5
5      8
6     13
7    asd
dtype: object

In [3]:
from datetime import date
date(2017, 7, 11)

datetime.date(2017, 7, 11)

In [4]:
weather = pd.DataFrame({
    'City': ['MSK', 'SPB', 'NN'],
    'Temperature': [-3,-2,0],
    'State': ['Cloudy', 'Snow', 'Clear'],
    'Date': [date(2017, 1, 1), date(2017, 1, 1), date(2017, 1, 1)]
})
weather

  City        Date   State  Temperature
0  MSK  2017-01-01  Cloudy           -3
1  SPB  2017-01-01    Snow           -2
2   NN  2017-01-01   Clear            0

In [17]:
names = pd.read_csv(
    '/Users/nicolas13/Lessons_Netology/Lesson4_1/names/yob1950.txt',
    names = ['Names', 'Gender', 'Count']
)
list(names.head(10).Names.values)

['Linda',
 'Mary',
 'Patricia',
 'Barbara',
 'Susan',
 'Nancy',
 'Deborah',
 'Sandra',
 'Carol',
 'Kathleen']

In [6]:
names.query('Gender == "F" & Count > 3000').head(20)

        Names Gender  Count
0    Isabella      F  22898
1      Sophia      F  20634
2        Emma      F  17333
3      Olivia      F  17019
4         Ava      F  15424
5       Emily      F  14266
6     Abigail      F  14234
7     Madison      F  13175
8       Chloe      F  11750
9         Mia      F  10630
10    Addison      F  10320
11  Elizabeth      F  10254
12       Ella      F   9871
13    Natalie      F   8771
14   Samantha      F   8401
15     Alexis      F   8260
16       Lily      F   7979
17      Grace      F   7679
18     Hailey      F   7015
19     Alyssa      F   6985

In [13]:
years = [1900]
def count_top3(years):
    FILE_PATH = '/Users/nicolas13/Lessons_Netology/Lesson4_1/yob'
    for year in years:
        path = FILE_PATH + str(year) +'.txt'
        names = pd.read_csv(
    path,
    names = ['Names', 'Gender', 'Count']
)
    return names
        
count_top3(years).head(10)

FileNotFoundError: File b'/Users/nicolas13/Lessons_Netology/Lesson4_1/yob1900.txt' does not exist